APP_NAME=Alrosa LearnFlow
ENV=dev
API_V1_PREFIX=/api/v1
CORS_ORIGINS=["http://localhost:3000"]

# Remote Railway Postgres
DATABASE_URL=postgresql+psycopg://postgres:MoenzBrsqxeYggDhVGBoFmssdlCYLrKm@hopper.proxy.rlwy.net:54899/railway
DB_SSLMODE=require

JWT_SECRET=5498t98H489ndSDWH89FE7YDSFASD79st348956EUFISDHrf843gf9n8sdjofGUOBSGHu4358SJIFDNRWREO45usifg
JWT_ALG=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120

NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
FRONTEND_BASE_URL=http://localhost:3000

FIRST_SUPERUSER_EMAIL=admin@alrosa.local
FIRST_SUPERUSER_PASSWORD=Admin12345!


OUTLOOK_CLIENT_ID=0e344a7f-3809-4550-999d-ea1862bae4e8
OUTLOOK_CLIENT_SECRET=~gG8Q~G~LeSE_-tE_vzePnbmdY1gISiqXpc4Na2G
OUTLOOK_TENANT_ID=common
OUTLOOK_REDIRECT_URI=http://localhost:8000/api/v1/calendar/outlook/callback
OUTLOOK_SCOPES=["User.Read","Calendars.ReadWrite","offline_access"]
OUTLOOK_TOKEN_ENCRYPTION_KEY=dWKVW_hZ2rnyGCTR2S3UV-nSelltlorB8xS9rnOJf4A
OUTLOOK_GRAPH_BASE_URL=https://graph.microsoft.com/v1.0
OUTLOOK_CONNECT_SUCCESS_PATH=/calendar?outlook=connected
OUTLOOK_CONNECT_ERROR_PATH=/calendar?outlook=error
OUTLOOK_SYNC_ENABLED=true
OUTLOOK_AUTHORITY=https://login.microsoftonline.com/common